DB__ConnectionString="User Id=postgres.vextvixwpxoljjitqaos;Password=V8nf0h96ryIN9teX;Server=aws-1-ap-southeast-1.pooler.supabase.com;Port=5432;Database=postgres"


EMAIL__Server="EMAIL.gmail.com"
EMAIL__Username="backend.server.projects@gmail.com"
EMAIL__Password="pmik pimv wqrt sfrc"
EMAIL__DisplayName="FlowNet"
EMAIL__Port="587"

OTP__DurationInMinutes=10
OTP__Length=6